---
---

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a {
    text-decoration: none;
}

pre {
    display: inline-block;
    width: 700px;
    overflow-x: scroll;
    background: #eff0f1;
    padding: 5px;
}

code {
    font-size: 95%;
    line-height: 140%;
    background: #eff0f1;
    padding: 3px;
}

/* --------- SIDE PANEL --------- */

.sidePanel {
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
    width: 200px;
    margin-left: -200px;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    background-color: #3d444a;
    box-shadow: inset -10px 0 10px -10px black;
}

.sidePanel hr {
    background-color: #575f65;
    border: 0;
    height: 1px;
    width: 80%;
    margin: 20px auto;
}

.sidePanel .sections {
    width: 100%;
    padding: 0;
    margin: 50px 0;
    list-style-type: none;
    font-weight: 300;
}

.sidePanel .sections li a {
    display: block;
    color: #f1fbff;
    padding: 14px 0;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

/* Change the link color on hover */
.sidePanel .sections li a:hover {
    background-color: #34393c;
    box-shadow: inset -10px 0 10px -10px black;
}

.sidePanel .title {
    margin-top: 30%;
    text-align: center;
}

.sidePanel .title img {
    width: 115px;
    border-radius: 50%;
    margin: 5px;
}

.sidePanel .title h1 {
    text-align: center;
    vertical-align: middle;
    color: #f1fbff;
    font-size: 16px;
}

.sidePanel .title h2 {
    text-align: left;
    vertical-align: middle;
    margin: 0 20px;
    line-height: 1.5em;
    color: #969b9c;
    font-size: 12px;
}

/* --------- SOCIAL MEDIA LINKS --------- */

.horizontal-list {
    width: 100%;
    bottom: 10%;
}
.horizontal-list ul {
    list-style: none;
}
.horizontal-list ul li {
    display: inline;
    padding: 0 5px;
}
.horizontal-list ul li img {
    height: 16px;
}

/* --------- FOOTER --------- */

footer {
    height: 50px;
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

/* --------- MAIN CONTENT --------- */

.root {
    margin-left: 200px;
}

.maincontent {
    float: right;
    width: 100%;
    border-left-width: 5px;
    border-left-color: blue;
}

.posts {
    margin: 50px 0;
}

.post-header, .page-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: url(http://i.imgur.com/ib1kois.jpg);
    background-size: cover;
    background-position-y: 90%;
    height: 300px;
}
.page-header h1 {
    position: relative;
    font-size: 68px;
    text-align: center;
    padding: 40px;
    color: #f1fbff;
    /*text-shadow: 0 0 40px black;*/
    font-weight: 100;
}
.post-header h1 {
    position: relative;
    font-size: 48px;
    text-align: center;
    padding: 40px;
    color: #f1fbff;
    text-shadow: 0 0 40px black;
    font-weight: 100;
}
.post-header .date {
    font-size: 14px;
    color: #f1fbff;
    text-shadow: 0 0 40px black;
    text-align: center;
}
.post {
    margin: 50px auto;
    max-width: 700px;
    list-style-type: none;
}
.post h2 {
    font-size: 24px;
}
.post h3 {
    font-size: 18px;
}
.post .entry p {
    line-height: 28px;
}
.post .entry ul li {
    line-height: 28px;
}
.post img {
    text-align: center;
    display: block;
    margin: auto;
}
iframe {
    text-align: center;
    display: block;
    margin: auto;
}

.container {
    margin: 20px auto;
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    /*border-radius: 12px;*/
}

.container h1 {
    position: relative;
    text-align: center;
    font-size: 36px;
    color: #eeeeee;
    text-shadow: 0 0 10px black;
    -webkit-transition: transform 200ms linear;
    font-weight: 300;
}

.container p {
    font-size: 16px;
    position: absolute;
    text-align: left;
    line-height: 1.5em;
    max-height: 6em;
    margin-right: -1em;
    padding-right: 1em;
    color: #eeeeee;
    top: 70px;
    width: 90%;
    overflow: hidden;
    opacity: 0;
}

.container img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
    -webkit-filter: brightness(75%);
    -webkit-transition: -webkit-filter 200ms linear, transform 200ms linear;
}
.container p {
    transform: translateY(60px);
    -webkit-transition: opacity 300ms linear, transform 200ms linear;
}

.container:hover img {
    -webkit-filter: brightness(30%);
    transform: scale(1.05);
}
.container:hover h1 {
    transform: translateY(-60px);
}
.container:hover p {
    opacity: 1;
    transform: translateY(0px);
}

.date-separator {
    text-align: center;
    padding: 40px 0 10px 0;
}

.date-separator hr {
    width: 20%;
    height: 1px;
    margin: 0 auto;
    border: none;
    background-color: #9eb8c1;
}

.date-separator h2 {
    font-size: 16px;
    padding: 10px;
    color: #7f898c;
}


/*Posts retrieved from Markdown files*/

.post-content {
    width: 60%;
    margin: auto;
}

.post-content h1 {
    text-align: center;
    font-size: 48px;
}

/*Main pages (Home, Projects, About)*/

.content {
    font-size: 17px;
    margin: 50px auto;
    max-width: 900px;
}

.content img {
    float: left;
    padding-right: 20px;
    max-width: 450px;
    max-height: 250px;
}

.content h2 {
    margin: 50px 0 0 0;
}

.content footer {
    margin: 175px 0 0 0;
    padding: 0;
}